<h1>Individual Info</h1>
<h2><%= @contact.name %></h2>
<h2><%= @contact.age %></h2>
<h2><%= @contact.hair_color %></h2>
<h2><%= @contact.eye_color %></h2>
<h2><%= @contact.gender %></h2>
<h2><%= @contact.alive %></h2>
<%= link_to "People", contacts_path %>

